body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

p {
  color: #717171;
}

h1,
h2,
h3 {
  color: #4d4d4d;
}

button {
  background-color: #4caf4f;
  color: #fff;
  border: none;
}
/* 
.header {
}
.header-nav {
}
.header-nav-list {
}
.header-nav-item {
}
.header-auth-buttons {
}
.header-login {
}
.header-signup {
}
.hero {
}
.hero-title {
}
.hero-text {
}
.hero-button {
}
.hero-img {
}

.clients {
}
.clients-title {
}
.clients-text {
}
.clients-list {
}
.clients-item {
}
.system {
}
.system-title {
}
.system-text {
}
.system-list {
}
.system-item {
}
.syste-item-title {
}
.system-item-text {
}

.pixel {
}
.pixel-img {
}
.pixel-title {
}
.pixel-text {
}
.pixel-btn {
}
.statistics {
}
.statistics-title {
}
.statistics-text {
}
.statistics-list {
}
.statistics-item {
}
.statistics-number {
}
.statistics-description {
}
.design {
}
.design-img {
}
.design-title {
}
.design-text {
}
.design-btn {
}
.customers {
}
.customers-img {
}
.customers-text {
}
.customers-sign {
}
.customers-list {
}
.customers-item {
}
.all-customers {
}
.caring {
}
.caring-title {
}
.caring-text {
}
.caring-list {
}
.caring-item {
}
.caring-img {
}
.caring-list-text {
}
.footer {
}
.footer-title {
}
.footer-demo {
}
.footer-logo {
}
.copyright {
}
.footer-social {
}
.footer-soc-item {
}
.footer-company {
}
.footer-company-list {
}
.footer-company-item {
}
.footer-support {
}
.footer-support-list {
}
.footer-support-item {
}
.footer-subscribe {
} */
